<div class="jumbotron">
    <h1 class="display-4">Blog do Node</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Aqui você vai poder ler sobre as novidades do mundo da computação.</p>
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a> 
    /admin/postagens/add
    -->
</div>

<div class="card">
    <div class="card-body">
        <p>Aqui você vai poder criar suas categorias</p>
        <a class="btn btn-primary btn-lg" href="/admin/categorias/add" role="button">Crie uma categoria</a>
        <a class="btn btn-danger btn-lg" href="/admin/categorias" role="button">Edite uma categoria</a>

        <hr>
        <p>Aqui você vai poder criar suas postagens</p>
        <a class="btn btn-primary btn-lg" href="/admin/postagens/add" role="button">Crie uma postagem</a>
        <a class="btn btn-danger btn-lg" href="/admin/postagens" role="button">edite uma postagem</a>
    </div>
</div>
