<div class="card">
    <dir class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email"> Email: </label>
                <input name="email" type="email" class="form-control" required>
            <label for="senha"> Senha: </label>
                <input type="password" name="senha" class="form-control" required>

            <button class="btn btn-success mt-4" type="submit"> Entrar</button>
        </form>

    </dir>

</div>