 <h4> Categorias: </h4>
 <hr>

<div class="card">
    <div class="card-body">
        {{#each categorias}}
       <a href="/categorias/{{slug}}"><h5>{{nome}} <hr></h3></a> 
        {{else}}
        {{/each}}
    </div>
</div>